<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsj.modules.pagelayout.dao.impl.WapSwiperDaoImpl">
    
    <sql id="tableName"> dsj_wap_swiper a </sql>
    <sql id="tableNameUpdate"> dsj_wap_swiper </sql>
    
	<sql id="tableColumns">
		a.id AS "id",
		a.url AS "url",
		a.image_url AS "imageUrl",
		a.status AS "status",
		a.create_time AS "createTime",
		a.update_time AS "updateTime",
		a.update_user AS "updateUser"
	</sql>
	
	<resultMap id="beanMap" type="WapSwiperPo">
		<id column="id" property="id" />
		<result column="url" property="url" />
		<result column="image_url" property="imageUrl" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="update_user" property="updateUser" />
	</resultMap>
	
	<sql id="wapSwiperJoins">
	</sql>
    
    <sql id="condition_sql">	
		<if test="url != null and url!= ''"> AND a.url = #{url}</if>
		<if test="imageUrl != null and imageUrl!= ''"> AND a.image_url = #{imageUrl}</if>
		<if test="updateTime != null and updateTime!= ''"> AND a.update_time = #{updateTime}</if>
		<if test="updateUser != null and updateUser!= ''"> AND a.update_user = #{updateUser}</if>
		<if test="status !=null and status != ''"> AND a.status = #{status}</if>
	</sql>
    
	<select id="getById" resultType="WapSwiperPo">
		SELECT 
			<include refid="tableColumns"/>
		FROM <include refid="tableName"/> 
		<include refid="wapSwiperJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="getBy" resultMap="beanMap">
		SELECT 
			<include refid="tableColumns"/>
		FROM <include refid="tableName"/> 
    	<where>
			<include refid="condition_sql" />
		</where>
  	</select>
	
	<select id="listAll" resultMap="beanMap">
    	SELECT 
    		<include refid="tableColumns"/>
    	FROM <include refid="tableName"/> 
    	ORDER BY a.id DESC
  	</select>
  	
  	<select id="listBy" resultMap="beanMap">
    	SELECT 
    		<include refid="tableColumns"/>
    	FROM <include refid="tableName"/> 
    	<where>
			<include refid="condition_sql" />
		</where>
    	ORDER BY a.id ASC
  	</select>
	
	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		SELECT 
    		<include refid="tableColumns"/>
    	FROM <include refid="tableName"/> 
		<where>
			<include refid="condition_sql" />
		</where>
		ORDER BY a.id DESC 
		LIMIT #{pageFirst} , #{pageSize} 
	</select>
	
	<select id="listPageCount" parameterType="java.util.Map" resultType="long">
		SELECT 
			COUNT(1) 
		FROM <include refid="tableName"/>
		<where>
			<include refid="condition_sql"/>
		</where>
	</select>
	
	
	<insert id="insert" parameterType="WapSwiperPo" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO <include refid="tableNameUpdate"/>(
			id,
			url,
			image_url,
			status,
			create_time,
			update_time,
			update_user
		) VALUES (
			#{id},
			#{url},
			#{imageUrl},
			#{status},
			#{createTime},
			#{updateTime},
			#{updateUser}
		)
	</insert>
	
	
	<insert id="insertDynamic" parameterType="WapSwiperPo" keyProperty="id" useGeneratedKeys="true">
   		INSERT INTO  <include refid="tableNameUpdate"/>
   		<trim prefix=" (" suffix=")" suffixOverrides=",">
					<if test="id != null">id,</if>
					<if test="url != null">url,</if>
					<if test="imageUrl != null">image_url,</if>
					<if test="status != null">status,</if>
					<if test="createTime != null">create_time,</if>
					<if test="updateTime != null">update_time,</if>
					<if test="updateUser != null">update_user,</if>
        </trim> 
        VALUES
        <trim prefix=" (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="url != null">#{url},</if>
			<if test="imageUrl != null">#{imageUrl},</if>
			<if test="status != null">#{status},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="updateTime != null">#{updateTime},</if>
			<if test="updateUser != null">#{updateUser},</if>
        </trim>
    </insert>
    
	
	<update id="update" parameterType="WapSwiperPo">
		UPDATE <include refid="tableNameUpdate"/> 
		SET 	
			url = #{url},
			image_url = #{imageUrl},
			update_time = #{updateTime},
			update_user = #{updateUser},
		WHERE id = #{id} 
	</update>
	
	<update id="updateDynamic" parameterType="WapSwiperPo">
   		 UPDATE <include refid="tableNameUpdate"/>  
    	 <set>
			<if test="url != null">url = #{url},</if>
			<if test="imageUrl != null">image_url = #{imageUrl},</if>
			<if test="status != null">status = #{status},</if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
			<if test="updateUser != null">update_user = #{updateUser},</if>
    	</set>
    	WHERE id = #{id}  
    </update>
	
	<update id="deleteById">
		DELETE FROM <include refid="tableNameUpdate"/>
		WHERE id = #{id}
	</update>
	
</mapper>