*{
	padding: 0;
	margin:0;
}
ul,li{
	list-style: none;
}
.clear{
	clear: both;
}
.color_blue{
	color:#2775e9 !important;
}
.LoginKuang  input::-webkit-input-placeholder {
  color: #bdbdbd
}
.LoginKuang  input:-moz-placeholder {
  color: #bdbdbd
}
.LoginKuang  input:-ms-input-placeholder {
  color: #bdbdbd
}
.LoginKuang input:-webkit-autofill {
background-color: transparent !important;
background-image:inherit !important;
color:inherit !important;
background-color: #fff !important;
color:inherit !important;
-webkit-box-shadow: 0 0 0px 1000px white inset;
border: 1px solid #CCC!important;
}
.LoginKuang input:focus:-webkit-autofill{
	background-color: transparent !important;
	background-image:inherit !important;
	color:inherit !important;
	background-color: #fff !important;
	color:inherit !important;
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	border: 1px solid #CCC!important;
}
.LoginKuang input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
	background-color: transparent !important;
	background-image:inherit !important;
	color:inherit !important;
	background-color: #fff !important;
	color:inherit !important;
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	border: 1px solid #CCC!important;
}
.webuploader-container input[type="file"] {
	display:none;
}
.LoginKuang .input-group .form-control{
	border-radius: 4px !important;
}
.LoginKuang .form-control:focus{
	border:2px solid #3b7ee2;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow:none;
}
.LoginKuang a:focus{
	color:#3b7ee2;
	border:none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow:none;
}
.LoginKuang a:active:focus{
	color:#3b7ee2;
	border:none;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow:none;
}
.LoginKuang a:focus:visited{
	color:#3b7ee2;
	border:none;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow:none;
}
.colora_2 li a{
	width: 100%;
	text-align: center;
	font-size: 18px;
	color:#222;
}
.colora_2 li a:hover{
	color: #3b7ee2;
}
.colora_2 li a:active{
	color: #3b7ee2;
}
.colora_2 li a:focus{
	outline: none;
	color: #3b7ee2;
	text-decoration: none;
}
.agentRegister .registerH4 a{
	font-size: 12px;
	color:#666;
}
.agentRegister .registerH4 a:hover{
	text-decoration: underline;
	color: #3b7ee2;
}
.LoginKuang .autoRegister li a{
	color:#777777;
	padding: 0 7px;
	font-size: 12px;
}
.LoginKuang .autoRegister a{
	color: #3b7ee2;
}
.LoginKuang .autoRegister a:hover{
	color: #3b7ee2;
	text-decoration: underline;
}
.LoginKuang .autoRegister li:nth-child(2) a{
	border-left: 1px solid #777777;
}
.LoginKuang .autoRegister .forget{
	float: right;

}
.LoginKuang{
	width: 384px;
  	padding:0 20px;
  	background-color: #fff;
  	box-shadow: 1.5px 2.6px 7px 0 rgba(0, 0, 0, 0.4);
	padding-bottom:20px;
	float: right;
	margin-right: 50px;
}
.LoginKuang h4{
	color:#222;
	font-size: 18px;
	margin:20px 0 0 0;
}
.LoginKuang .hint{
	color: #777777;
	height: 89px;
}
.LoginKuang .errorHint{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #fa6060;
	font-size: 14px;
	padding-left: 30px;
	background:url(../img/login/31.png) no-repeat left center;
	visibility: hidden;
}
.LoginKuang .form-group{
	width: 100%;
}
.LoginKuang .input-group{
	position: relative;
	height: 52px;
	margin-bottom: 20px;
	width: 100%;
}
.LoginKuang .form-control{
	padding:0 21px 0 72px;
	padding-right: 34px;
	height:64px;
}
.LoginKuang .ursnameCode{
	width: 342px;
	height: 52px;
}	
.login_botton{
	width: 100%;
	height: 52px;
	border-radius: 4px;
	background-color: #3b7ee2;
	border:1px solid #3b7ee2;
	font-size: 18px;
	color:#fff;
	margin-bottom:20px;
	outline: none;
}
.login_botton:hover{
	background-color: #4073bf;
}
.user_leftIcon{
	height: 46px;
    padding: 6px 26px;
    display: inline-block;
    position: absolute;
    z-index: 10;
    background-image: url(../img/login/invalid-urs.png),url(../img/login/cion_xian.png);
    background-position: 16px center, right center;
    background-repeat: no-repeat, no-repeat;
    background-color: #fff;
    top: 2px;
    left: 2px;
}
.phone_leftIcon{
	height: 46px;
    padding: 6px 26px;
    display: inline-block;
    position: absolute;
    z-index: 10;
    background-image: url(../img/login/phone_16.png),url(../img/login/cion_xian.png);
    background-position: 16px center, right center;
    background-repeat: no-repeat, no-repeat;
    background-color: #fff;
    top: 2px;
    left: 2px;
}
.password_leftIcon{
	height: 46px;
    padding: 6px 26px;
    display: inline-block;
    position: absolute;
    z-index: 10;
    background-image: url(../img/login/invalid-password.png),url(../img/login/cion_xian.png);
    background-position: 16px center, right center;
    background-repeat: no-repeat, no-repeat;
    background-color:#fff;
 	top: 2px;
    left: 2px;
}
.verification_leftIcon{
	height: 46px;
    padding: 6px 26px;
    display: inline-block;
    position: absolute;
    z-index: 10;
    background-image: url(../img/login/invalid-anquan.png),url(../img/login/cion_xian.png);
    background-position: 16px center, right center;
    background-repeat: no-repeat, no-repeat;
    background-color:#fff;
    top:2px;
    left:2px;
}
.registerH4{
	width: 100%;
	height: 40px;
	margin:0;
	border-bottom: 1px solid #e8e8e8;
	margin-top:20px;

}
.registerH4 li{
	float: left;
	width: 50%;
	text-align: center;
}
.registerH4 li:first-child{
	display: block;
	border-right: 1px solid #e8e8e8;
	
}
.LoginKuang .passwordCode{
	height: 52px;
	width: 342px;
	height: 52px;
}
.LoginKuang .passwordCode2{
	width: 342px;
	height: 52px;
}
.dsj_houselist_checkbox {
    position: absolute;
	top: 3px;
	zoom: 150%;
}
.LoginKuang .form-group .verifyCode{
	width: 210px;
	height: 52px;
}
.verifyCodeButton{
    width: 112px;
    height: 52px;
    border-radius: 4px;
    background-color: #e8e8e8;
    border: 1px solid #e8e8e8;
    margin-left: 20px;
    font-size: 14px;
    color: #333;
    float: right;
    text-align: center;
    line-height: 52px;
    padding:0;
    outline: none;
    cursor:pointer;
}
.verifyCodeButton:hover{
	background-color: #c7c7c7;
	border: 1px solid #c7c7c7;
	color:#333;
	outline: none;
}
.verifyCodeButton:active,.verifyCodeButton:focus{
	background-color: #e8e8e8;
	border: 1px solid #e8e8e8;
	color: #999;
	outline: none;
}
.verifyCodeActive,.verifyCodeActive:hover,.verifyCodeActive:focus,.verifyCodeActive:active{
	background-color: #e8e8e8;
	border: 1px solid #e8e8e8;
	color: #999;
	outline: none;
}
.thirdRegisterTitle{
	width: 100%;
	height: 20px;
	position: relative;
	margin-top:15px;
}
.thirdRegisterTitle>p{
	width: 100%;
	height: 1px;
	background-color:#ddd;
	position: absolute;
	top:10px;
	left:0;
}
.thirdRegisterTitle>div{
	width: 33.3%;
	height: 20px;
	position: absolute;
	top:0;
	left:114px;
	background-color: #fff;
	text-align: center;
	font-size: 12px;
	color:#999;
}
.thirdRegisterKuang>ul{
	width: 100%;
	height: 68px;
	margin-bottom: 0;
}
.thirdRegisterKuang>ul li{
	width: 33.3%;
	height: 68px;
	float: left;
	text-align: center;
	font-size: 0;
}
.thirdRegisterKuang>ul li:first-child{
	background:url(../img/login/weixin.png) no-repeat center;
}
.thirdRegisterKuang>ul li:nth-child(2){
	background:url(../img/login/qq.png) no-repeat center;
}
.thirdRegisterKuang>ul li:nth-child(3){
	background:url(../img/login/sina.png) no-repeat center;
}
.LoginKuang .autoRegister{
	width: 100%;
	height: 23px;
	line-height: 23px;
	font-size: 12px;
	color:#777;
}
.autoRegister .check_yess{
	line-height: 20px;
	text-indent: 26px;
	font-size: 12px;
	color:#777777;
	background: url(../img/login/no_yess.png) no-repeat left center;
}
.autoRegister .check_yess_active{
	background-image: url(../img/login/yess.png);
}
.autoRegister .check_yess>input{
	display: none;
}
.LoginKuang .autoRegister label{
	float: left;
}
.LoginKuang .autoRegister input{
	width: 16px;
	height: 16px;
	border:1px solid #ccc;
	background-color: #fff;
	vertical-align:middle;
	margin:0 5px 0 0;
}
.LoginKuang .autoRegister li{
	float: left;
	text-align: center;
}
.LoginKuang .userAgreement>p{
	float: right;
}
.agentRegister{
	height: 41px;
	margin: 0 -20px; 
} 
.agentRegister .registerH4{
    height: 40px;
    border: none;
    margin: 0;
    margin-top: 20px;
    padding-top: 13px;
    background-color: #f9f9f9;
    position: absolute;
    bottom: 0;
    left: 0;
}
.agentRegister .registerH4>li:first-child{
	border-color:#999;
}
.demptyText{
	width:25px;
	height: 25px;
	display: inline-block;
	position: absolute;
	top:50%;
	right: 10px;
	background:url(../img/login/1-3.png) no-repeat center;
	z-index: 10;
	-webkit-transform:translate(0,-50%);
	transform: translate(0,-50%);
	display: none;
}
.showText{
	width: 25px;
	height: 25px;
	display: inline-block;
	position: absolute;
	top:50%;
	right: 10px;
	z-index: 10;
	-webkit-transform:translate(0,-50%);
	transform: translate(0,-50%);
}
.showText>input{
	display: none;
}
.showTextlabel{
	width: 100%;
	height: 100%;
	display: inline-block;
	background: url(../img/login/invalid-close.png) no-repeat center;
}
.showTextActive{
	background-image: url(../img/login/open.png);
}
#bingPhone .new-password{
	width: 100%;
	position: relative;
	height: 52;
	margin-bottom: 20px;
}
#bingPhone .new-password>label{
	position: absolute;
	left: 0;
	display: inline-block;
	height: 52px;
	line-height: 52px;
	margin:0;

}
#LoginKuang .new-password .form-control{
	width: 280px;
	padding:0;
	height: 52px;
	padding-left: 20px;
	border-radius: 4px;
}
#bingPhone .new-password> .input-group{
	position: absolute;
	right: 0;
}
#bingPhone{
	width:100%;
	font-size: 14px;
	font-family: PingFangSC, arial, '\5FAE\8F6F\96C5\9ED1', 'PingFangSC',  sans-serif;
	background: url(../img/login/userbacklogin.png) no-repeat;
	background-size: cover;
}
.BingHeader{
	width:1190px;
	height: 70px;
	margin:0 auto;
}
.BingHeader:before{
	content:'';
	display: table;
}
.binglogo{
	width: 100%;
	height:49px;
	margin:0 auto;
}
.binglogo h1{
	width:126px;
  	height: 49px;
	font-size:0;
	margin-top:21px;
	margin-bottom: 0;
	background: url(../img/login/logo.png) no-repeat center;
	background-size: 100%;
}
.BingMain{
	width: 1190px;
	height: 80%;
	margin:0 auto;
	padding-top:50px;
}
.BingMainLaft{
	float: left;
	margin-left: 24px;
	margin-top: 86px;
}
.BingMainLaft p{
	font-size:46px;
	text-align: right;
	color: #fff;
	margin:6px auto;
	text-shadow: rgba(0,0,0,.14) 5px 0px 5px, rgba(0,0,0,.14) -5px 0px 5px;
    -webkit-text-shadow: rgba(0,0,0,.14) 1px 0 0;
}
.BingMainLaft p span{
	font-size: 58px;
	margin: 0 21px;
	text-align: left;
}
.BingFooter{
	width: 100%;
	height: 100px;
	color: #666;
	background-color: #fff;
	padding: 20px 0;
	clear: both;
}
.BingFooter a{
	color:#666;
}
.footer1{
	width:320px;
	height: 14px;
	text-align: center;
	line-height: 14px;
	margin:0 auto;
}
.footer1 li{
	width: 56px;
	float: left;
	margin:0 20px;
}
.footer2{
	width: 700px;
	text-align: center;
	height: 14px;
	font-size: 14px;
	margin:0 auto;
	margin-top:20;
}
.footer2 li{
	float: left;
	padding: 0 10px;
	height: 14px;
	line-height: 14px;
	border-right: 1px solid #666;
}
.footer2 li:last-child{
	border:none;
}
	
#bingPhone .new-password{
		width: 100%;
    	position: relative;
    	height: 52;
    	margin-bottom: 20px;
	}
#bingPhone .new-password>label{
	position: absolute;
	left: 0;
	display: inline-block;
	width: 83px;
	height: 52px;
	line-height: 52px;
	margin:0;

}
.LoginKuang .new-password .form-control{
	width: 280px;
	padding:0;
	height: 52px;
	padding-left: 20px;
	border-radius: 4px;
}
#bingPhone .new-password> .input-group{
	width: 280px;
	position: absolute;
	right: 0;
}
.a_blue{
	color:#337ab7 !important;
}
.verifyCode_2{
	background: #fff !important;
    border-color: #e8e8e8 !important;
}